.container{
    position:fixed;
    min-height: 20px;
    display:flex;
    padding:20px 20px;
    width: 100%;
    justify-content:space-between;   
    z-index:1;   
}

.menu{
    display:flex;
    align-items:center;
    justify-content: center;
    flex:1;
    
}
a{
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
    flex-wrap: nowrap; 
    text-decoration: none;   
}

.rightMenu{
    display: flex;
    align-items: center;
}
MenuIcon{
    cursor: pointer;
}

@media (max-width: 768px){
    .menu{
        display: none;
    }
}

.Burger-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background:white;
    width:300px;
    z-index:16;
    display:flex;
    flex-direction: column;
    list-style: none;
    padding:20px;
    font-weight: 300;
    /* display:none; */
    
     

}   
.Burger-nav li{
    padding:15px 0;
    border-bottom: 1px solid rgba(0,0,0,.2)
}
.closeBtn{
    display:flex;
    justify-content:flex-end;

}
.menu-btn{
    cursor: pointer;
}